<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="refresh" content="5; url=/cadastro" />
        <title>Document</title>
    </head>
    <body>
        <h1><%= title %></h1>
        <h2>
            Não foi possível realizar o cadastro, nome de usuário já existente!
        </h2>
        <h3>Retornando para página de cadastro.</h3>
    </body>
</html>
