<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="refresh" content="5; url=/" />
        <title>Document</title>
    </head>
    <body>
        <h1><%= title %></h1>
        <h2>Usuário <%= usuario %> criado com sucesso!</h2>
        <h3>Redirecionando para página de login.</h3>
    </body>
</html>
